Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

test: add unit tests for RenovateParser and setup mocks
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/test/renovate-parser.test.ts
  .github/actions/renovate-changesets/test/setup.ts
  .github/actions/renovate-changesets/vitest.config.ts
Labels: documentation, typescript

test: add unit tests for RenovateParser and setup mocks (#1154)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/test/renovate-parser.test.ts
  .github/actions/renovate-changesets/test/setup.ts
  .github/actions/renovate-changesets/vitest.config.ts
Labels: documentation, typescript

test: add integration tests for grouped updates and security patches
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/test/grouped-updates-security-patches.test.ts
Labels: documentation, typescript

test: add integration tests for grouped updates and security patches (#1155)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/test/grouped-updates-security-patches.test.ts
Labels: documentation, typescript

test: add tests for edge cases and error conditions
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
Labels: documentation

test: add tests for edge cases and error conditions (#1162)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
Labels: documentation

chore(renovate-changesets): add AI-generated E2E tests
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/integration/components.test.ts
  .github/actions/renovate-changesets/test/integration/end-to-end.test.ts
Labels: documentation, typescript

chore(renovate-changesets): add AI-generated E2E tests (#1163)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/integration/components.test.ts
  .github/actions/renovate-changesets/test/integration/end-to-end.test.ts
Labels: documentation, typescript

test: refactor mocks for Octokit and RenovateParser classes
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/integration/end-to-end.test.ts
  .github/actions/update-metadata/test/index.test.ts
Labels: typescript

chore: add changeset for upgrading renovate-action to v8
  .changeset/slow-trams-play.md
Labels: documentation

chore: add changeset for upgrading renovate-action to v8 (#1335)
  .changeset/slow-trams-play.md
Labels: documentation

chore: update reviewers in auto-assign configuration
  .github/auto-assign.yaml
Labels: none

chore: comment out numberOfReviewers in auto-assign configuration
  .github/auto-assign.yaml
Labels: none

chore: add bfra-me to the list of reviewers in auto-assign config
  .github/auto-assign.yaml
Labels: none

chore: update reviewers in auto-assign configuration
  .github/auto-assign.yaml
Labels: none
