Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

docs: add architecture plan for cross-platform CI/CD workflow translation (#1088)
  .ai/plan/architecture-cross-platform-bridge-1.md
Labels: documentation

docs: add architecture plan for multi-organization template federation
  .ai/plan/architecture-template-federation-system-1.md
Labels: documentation

docs: add architecture plan for multi-organization template federation (#1089)
  .ai/plan/architecture-template-federation-system-1.md
Labels: documentation

docs: add comprehensive go-live checklist and validation framework
  .ai/plan/infrastructure-production-readiness-validation-1.md
Labels: documentation

docs: add comprehensive go-live checklist and validation framework (#1091)
  .ai/plan/infrastructure-production-readiness-validation-1.md
Labels: documentation

docs: update implementation plan prompts with links to detailed plans
  .ai/notes/implementation-plan-prompts.md
Labels: documentation

docs: update implementation plan prompts with links to detailed plans (#1092)
  .ai/notes/implementation-plan-prompts.md
Labels: documentation

chore: update concurrency setting to not cancel in-progress jobs
  .changeset/many-toys-lay.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

chore: update concurrency setting to not cancel in-progress jobs (#1093)
  .changeset/many-toys-lay.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

feat: enhance renovate-changesets action with new features
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

feat: enhance renovate-changesets action with new features (#1110)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

feat: enhance Renovate changeset generation and parsing logic
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/renovate-parser.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

chore: update build artifact
  .github/actions/renovate-changesets/dist/index.js
Labels: none

feat: enhance Renovate changeset generation and parsing logic (#1111)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/renovate-parser.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: implement enhanced NPM dependency change detection
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/npm-change-detector.ts
Labels: documentation, typescript

feat: implement enhanced NPM dependency change detection (#1113)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/npm-change-detector.ts
Labels: documentation, typescript

feat: enhance GitHub Actions change detection and testing
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/github-actions-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/github-actions-change-detector.test.ts
Labels: documentation, typescript

feat: enhance GitHub Actions change detection and testing (#1114)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/github-actions-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/github-actions-change-detector.test.ts
Labels: documentation, typescript

feat(renovate-changesets): add Docker dependency detection
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/docker-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/docker-change-detector.test.ts
Labels: documentation, typescript

feat(renovate-changesets): add Docker dependency detection (#1115)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/docker-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/docker-change-detector.test.ts
Labels: documentation, typescript

feat(renoate-changesets): add change detectors for multiple managers
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/go-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/jvm-change-detector.ts
  .github/actions/renovate-changesets/src/python-change-detector.ts
Labels: documentation, typescript

feat(renoate-changesets): add change detectors for multiple managers (#1116)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/go-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/jvm-change-detector.ts
  .github/actions/renovate-changesets/src/python-change-detector.ts
Labels: documentation, typescript

feat(renovate-changesets): add semver impact assessment algorithm
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/semver-impact-assessor.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/semver-impact-assessor.test.ts
Labels: documentation, typescript

feat(renovate-changesets): add semver impact assessment algorithm (#1117)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/semver-impact-assessor.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/semver-impact-assessor.test.ts
Labels: documentation, typescript

feat: update semantic version impact assessment with breaking change and security analysis
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/breaking-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/security-vulnerability-detector.ts
  .github/actions/renovate-changesets/src/semver-impact-assessor.ts
  .github/actions/renovate-changesets/test/breaking-change-detector.test.ts
  .github/actions/renovate-changesets/test/security-vulnerability-detector.test.ts
Labels: documentation, typescript

feat: update semantic version impact assessment with breaking change and security analysis (#1118)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/breaking-change-detector.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/security-vulnerability-detector.ts
  .github/actions/renovate-changesets/src/semver-impact-assessor.ts
  .github/actions/renovate-changesets/test/breaking-change-detector.test.ts
  .github/actions/renovate-changesets/test/security-vulnerability-detector.test.ts
Labels: documentation, typescript

feat(renovate-changesets): enhance categorization
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/change-categorization-engine.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/change-categorization-engine.test.ts
Labels: documentation, typescript

feat(renovate-changesets): enhance categorization (#1122)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/change-categorization-engine.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/change-categorization-engine.test.ts
Labels: documentation, typescript

feat(renovate-changesets): enhance changeset generation and testing
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat(renovate-changesets): enhance changeset generation and testing (#1123)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: Implement context-aware changeset summary generator
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: Implement context-aware changeset summary generator (#1124)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: implement semver bump decision engine with comprehensive rules and analysis
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/semver-bump-decision-engine.ts
  .github/actions/renovate-changesets/test/semver-bump-decision-engine.test.ts
Labels: documentation, typescript

test: update tests for semver bump decision engine and changesets
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/semver-bump-decision-engine.test.ts
Labels: typescript

feat: implement semver bump decision engine with comprehensive rules and analysis (#1125)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/semver-bump-decision-engine.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/semver-bump-decision-engine.test.ts
Labels: documentation, typescript

feat: add multi-package changeset generator and corresponding tests
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/multi-package-analyzer.ts
  .github/actions/renovate-changesets/src/multi-package-changeset-generator.ts
  .github/actions/renovate-changesets/test/multi-package-analyzer.test.ts
Labels: documentation, typescript

test: enhance logging and output verification for changeset generation
  .github/actions/renovate-changesets/test/index.test.ts
Labels: typescript

feat: add multi-package changeset generator and corresponding tests (#1126)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/src/multi-package-analyzer.ts
  .github/actions/renovate-changesets/src/multi-package-changeset-generator.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/test/multi-package-analyzer.test.ts
Labels: documentation, typescript

feat: enhance changeset summary generation for multiple package managers
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
Labels: documentation, typescript

feat: enhance changeset summary generation for multiple package managers (#1127)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
Labels: documentation, typescript
