Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

ci(renovate): fix autodiscover filter
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): fix autodiscover filter (#548)
  .github/workflows/renovate.yaml
Labels: workflows

ci(update-metadata): skip changeset if there are no changes
  .github/workflows/update-metadata.yaml
Labels: workflows

ci(update-metadata): skip changeset if there are no changes (#549)
  .github/workflows/update-metadata.yaml
Labels: workflows

ci(codeql): restore previous workflow
  .github/workflows/codeql-analysis.yaml
Labels: workflows, security

feat: add security workflows (#533)
  .changeset/chubby-hornets-tell.md
  .github/codeql/codeql-config.yml
  .github/gitleaks.toml
  .github/settings.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/secret-scan.yaml
Labels: workflows, documentation, github-settings, security

ci: update workflow permissions; add required status checks
  .github/settings.yml
  .github/workflows/auto-release.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/main.yaml
  .github/workflows/pr-triage.yaml
  .github/workflows/secret-scan.yaml
  .github/workflows/update-metadata.yaml
Labels: workflows, github-settings

ci: update workflow permissions; add required status checks (#555)
  .github/settings.yml
  .github/workflows/auto-release.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/main.yaml
  .github/workflows/pr-triage.yaml
  .github/workflows/secret-scan.yaml
  .github/workflows/update-metadata.yaml
Labels: workflows, github-settings

ci(container-scan): move path filters to unconditionally run
  .github/workflows/container-scan.yaml
Labels: workflows

ci(container-scan): move path filters to unconditionally run (#561)
  .github/workflows/container-scan.yaml
Labels: workflows

ci(renovate): set `versioning` of the Trivy action to GH releases
  .cursor/rules/renovate-best-practices.mdc
  .github/renovate.json5
Labels: none

ci(renovate): set `versioning` of the Trivy action to GH releases (#592)
  .cursor/rules/renovate-best-practices.mdc
  .github/renovate.json5
Labels: none

chore(.npmrc): enable `shamefully-hoist`
  .npmrc
Labels: dependencies

ci(renovate): increase the workflow timeout to 30 minutes
  .changeset/free-tigers-walk.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

ci(renovate): increase the workflow timeout to 30 minutes (#597)
  .changeset/free-tigers-walk.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

chore: add Cursor rules and support files for PRD-based development
  .changeset/purple-lions-swim.md
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/changesets-best-practices.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/debug.mdc
  .cursor/rules/directory-structure.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-documentation.mdc
  .cursor/rules/github-actions-best-practices.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate-best-practices.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/typescript-best-practices.mdc
  .cursor/rules/typescript.mdc
  .gitignore
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  docs/workflows/README.md
  docs/workflows/troubleshooting.md
  docs/workflows/update-repo-settings.md
  package.json
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: dependencies, documentation

chore: add Cursor rules and support files for PRD-based development (#628)
  .changeset/purple-lions-swim.md
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/changesets-best-practices.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/debug.mdc
  .cursor/rules/directory-structure.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-documentation.mdc
  .cursor/rules/github-actions-best-practices.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate-best-practices.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/typescript-best-practices.mdc
  .cursor/rules/typescript.mdc
  .gitignore
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  docs/workflows/README.md
  docs/workflows/troubleshooting.md
  docs/workflows/update-repo-settings.md
  package.json
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: dependencies, documentation

chore: add profile `README.md`
  profile/README.md
Labels: documentation

chore: add profile `README.md` (#629)
  profile/README.md
Labels: documentation

docs(workflows): add comprehensive GitHub Actions workflow documentation
  .changeset/workflow-documentation-0423.md
  docs/workflows/codeql-analysis.md
  docs/workflows/dependency-review.md
  docs/workflows/renovate.md
  docs/workflows/scorecard.md
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: documentation

docs(workflows): add comprehensive GitHub Actions workflow documentation (#630)
  .changeset/workflow-documentation-0423.md
  docs/workflows/codeql-analysis.md
  docs/workflows/dependency-review.md
  docs/workflows/renovate.md
  docs/workflows/scorecard.md
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: documentation

chore: update MCP tool usage rules
  .cursor/rules/mcp-tool-usage.mdc
Labels: none

chore: remove nonsensical statements
  .cursor/rules/mcp-tool-usage.mdc
Labels: none

chore(rules): simplify the MDC tools usage rule (#631)
  .cursor/rules/mcp-tool-usage.mdc
Labels: none

refactor(workflow): merge Renovate workflow jobs
  .changeset/renovate-workflow-refactor.md
Labels: documentation

refactor(workflow): merge Renovate workflow jobs (#633)
  .changeset/renovate-workflow-refactor.md
Labels: documentation

chore: add missing content to changeset
  .changeset/renovate-workflow-refactor.md
Labels: documentation

chore: add missing content to changeset (#634)
  .changeset/renovate-workflow-refactor.md
Labels: documentation

feat(docs): add ADRs and tasks for monitoring systems
  .changeset/add-monitoring-systems.md
  .changeset/split-metrics-system.md
  docs/adr/0001-preference-monitoring-system.md
  docs/adr/0002-repository-metrics-and-trigger-system.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
Labels: documentation

feat(docs): add ADRs and tasks for monitoring systems (#635)
  .changeset/add-monitoring-systems.md
  .changeset/split-metrics-system.md
  docs/adr/0001-preference-monitoring-system.md
  docs/adr/0002-repository-metrics-and-trigger-system.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
Labels: documentation

feat(docs): enhance documentation and rules system
  .cursor/rules/change_validation.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/content_context.mdc
  .cursor/rules/knowledge_graph_management.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/memory_templates.mdc
  .cursor/rules/rule_preprocessing.mdc
  .cursor/rules/rule_refresher.mdc
  .cursor/rules/self_improve.mdc
  docs/technical.md
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: documentation

chore: add missing changeset and tweak rules
  .changeset/documentation-rules-update.md
  .cursor/rules/changesets.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/knowledge_graph_management.mdc
Labels: documentation

feat(docs): enhance documentation and rules system (#636)
  .changeset/documentation-rules-update.md
  .cursor/rules/change_validation.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/content_context.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/knowledge_graph_management.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/memory_templates.mdc
  .cursor/rules/rule_preprocessing.mdc
  .cursor/rules/rule_refresher.mdc
  .cursor/rules/self_improve.mdc
  docs/technical.md
  tasks/active_context.md
  tasks/tasks_plan.md
Labels: documentation

chore(deps): add jiti
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(deps): add jiti (#637)
  package.json
  pnpm-lock.yaml
Labels: dependencies

feat(rules): enhance meta rules system with comprehensive framework
  .changeset/meta-rules-update.md
  .cursor/rules/content_context.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/rule_refresher.mdc
  .cursor/rules/self_improve.mdc
Labels: documentation

feat(rules): enhance meta rules system with comprehensive framework (#638)
  .changeset/meta-rules-update.md
  .cursor/rules/content_context.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/rule_refresher.mdc
  .cursor/rules/self_improve.mdc
Labels: documentation

feat(rules): consolidate and modernize memory files framework
  .changeset/fix-cursor-rules-format.md
  .changeset/memory-files-framework-update.md
  .changeset/rule-system-consolidation.md
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/debug.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/directory-structure.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-documentation.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/memory_templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule_preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/typescript.mdc
Labels: documentation

feat(rules): consolidate and modernize memory files framework (#640)
  .changeset/fix-cursor-rules-format.md
  .changeset/memory-files-framework-update.md
  .changeset/rule-system-consolidation.md
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/debug.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/directory-structure.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-documentation.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/glossary.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/memory_files.mdc
  .cursor/rules/memory_templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule_preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/typescript.mdc
Labels: documentation

docs: add related files sections and improve file path handling
  .changeset/document-related-files.md
  .cursor/rules/memory_templates.mdc
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  tasks/active_context.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
  tasks/tasks_plan.md
Labels: documentation
