Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

docs: add related files sections and improve file path handling (#645)
  .changeset/document-related-files.md
  .cursor/rules/memory_templates.mdc
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  tasks/active_context.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
  tasks/tasks_plan.md
Labels: documentation

docs: refactor MCP tool usage documentation
  .changeset/mcp-tool-usage-update.md
  .cursor/rules/mcp-tool-usage.mdc
Labels: documentation

docs: refactor MCP tool usage documentation (#647)
  .changeset/mcp-tool-usage-update.md
  .cursor/rules/mcp-tool-usage.mdc
Labels: documentation

chore: clarify how to link to files within Cursor rule files (.mdc)
  .cursor/rules/cursor_rules.mdc
Labels: none

chore: clarify how to link to files within Cursor rule files (.mdc) (#648)
  .cursor/rules/cursor_rules.mdc
Labels: none

chore: update `markdownlint` rules to ignore rules triggered by LLMs
  .markdownlint-cli2.yaml
Labels: none

chore: update `markdownlint` rules to ignore rules triggered by LLMs (#649)
  .markdownlint-cli2.yaml
Labels: none

chore: delete a rule file Cursor is having issues with
  .cursor/rules/mcp-tool-usage.mdc
Labels: none

chore: re-add Cursor rule through the IDE flow
  .cursor/rules/mcp-tool-usage.mdc
Labels: none

style(rules): standardize file naming to use hyphens
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/change-validation.mdc
  .cursor/rules/content-context.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/index.mdc
  .cursor/rules/knowledge-graph.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  .cursor/rules/memory-templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  .cursor/rules/self_improve.mdc
Labels: none

style(rules): standardize file naming to use hyphens (#652)
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/change-validation.mdc
  .cursor/rules/content-context.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/index.mdc
  .cursor/rules/knowledge-graph.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  .cursor/rules/memory-templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  .cursor/rules/self_improve.mdc
Labels: none

refactor(rules): remove index.mdc and enhance rules.mdc structure
  .cursor/rules/index.mdc
  .cursor/rules/rules.mdc
Labels: none

refactor(rules): remove index.mdc and enhance rules.mdc structure (#653)
  .cursor/rules/index.mdc
  .cursor/rules/rules.mdc
Labels: none

refactor(rules): improve Cursor rules integration and consolidate planning workflow
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

refactor(rules): improve Cursor rules integration and consolidate planning workflow (#654)
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): add AI-optimized relationship visualization diagram
  .changeset/sharp-dodos-like.md
  .cursor/rules/rules.mdc
  tasks/cursor-rules-enhancement.md
Labels: documentation

feat(cursor-rules): add AI-optimized relationship visualization diagram (#655)
  .changeset/sharp-dodos-like.md
  .cursor/rules/rules.mdc
  tasks/cursor-rules-enhancement.md
Labels: documentation

feat(cursor-rules): enhance AI-focused rule templates and update documentation
  .changeset/ai-focused-templates.md
  .changeset/memory-updates.md
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  docs/architecture.md
  docs/technical.md
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): enhance AI-focused rule templates and update documentation (#656)
  .changeset/ai-focused-templates.md
  .changeset/memory-updates.md
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  docs/architecture.md
  docs/technical.md
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): enhance AI rule selection and create migration plan
  .changeset/enhance-ai-rule-selection.md
  .cursor/rules/rule-migration.mdc
  .cursor/rules/rule-preprocessing.mdc
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): enhance AI rule selection and create migration plan (#657)
  .changeset/enhance-ai-rule-selection.md
  .cursor/rules/rule-migration.mdc
  .cursor/rules/rule-preprocessing.mdc
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): Complete migration of Critical Foundation Rules (Task #3.6)
  .cursor/rules/rules.mdc
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

feat(cursor-rules): Complete migration of Critical Foundation Rules (Task #3.6) (#662)
  .cursor/rules/rules.mdc
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/tasks_plan.md
Labels: documentation

chore: exclude SpecStory files
  .cursorindexingignore
  .gitignore
Labels: none

chore: exclude SpecStory files (#677)
  .cursorindexingignore
  .gitignore
Labels: none

chore: set lessons-learned & rule-preprocessing rules to always apply
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/rule-preprocessing.mdc
Labels: none

chore: set lessons-learned & rule-preprocessing rules to always apply (#697)
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/rule-preprocessing.mdc
Labels: none

chore(update-metadata): convert from a script to an action
  .github/actions/update-metadata/README.md
  .github/actions/update-metadata/action.yaml
  .github/actions/update-metadata/eslint.config.ts
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/src/index.ts
  .github/actions/update-metadata/test/index.test.ts
  .github/actions/update-metadata/tsconfig.json
  .github/actions/update-metadata/vitest.config.ts
  .github/workflows/update-metadata.yaml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/generate-metadata.ts
Labels: workflows, dependencies, documentation, scripts, typescript

chore: add build and ancillary files
  .changeset/fruity-icons-battle.md
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, documentation, typescript

chore: update `pnpm install` script; adjust formatting settings
  .vscode/settings.json
  package.json
Labels: dependencies

chore: update `pnpm install` script; adjust formatting settings (#717)
  .vscode/settings.json
  package.json
Labels: dependencies

chore(update-metadata): bump `@octokit/rest`
  .github/actions/update-metadata/package.json
  pnpm-lock.yaml
Labels: dependencies

chore: update stale @actions and @octokit deps
  .github/actions/update-metadata/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

ci(update-metadata): remove unneeded inputs
  .changeset/update-metadata-1748499253502.md
  .gitattributes
  .github/actions/update-metadata/README.md
  .github/actions/update-metadata/action.yaml
  .github/actions/update-metadata/dist/index.js
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/src/index.ts
  .github/actions/update-metadata/test/index.test.ts
  .github/actions/update-metadata/vitest.config.ts
  .github/workflows/update-metadata.yaml
  .gitignore
  package.json
Labels: workflows, dependencies, documentation, typescript

chore: update lockfile
  pnpm-lock.yaml
Labels: dependencies

chore(update-metadata): convert from a script to an action (#716)
  .changeset/fruity-icons-battle.md
  .changeset/update-metadata-1748499253502.md
  .gitattributes
  .github/actions/update-metadata/README.md
  .github/actions/update-metadata/action.yaml
  .github/actions/update-metadata/dist/index.js
  .github/actions/update-metadata/eslint.config.ts
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/src/index.ts
  .github/actions/update-metadata/test/index.test.ts
  .github/actions/update-metadata/tsconfig.json
  .github/actions/update-metadata/tsup.config.ts
  .github/actions/update-metadata/vitest.config.ts
  .github/workflows/update-metadata.yaml
  .gitignore
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  scripts/generate-metadata.ts
Labels: workflows, dependencies, documentation, scripts, typescript

ci(renovate): streamline triggers
  .changeset/open-aliens-create.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

ci(renovate): streamline triggers (#720)
  .changeset/open-aliens-create.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

ci(renovate): unpin `renovate-action`; update config
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): unpin `renovate-action`; update config (#722)
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: workflows

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts
