Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

ci(renovate): remove bot check
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): remove bot check (#723)
  .github/workflows/renovate.yaml
Labels: workflows

ci(release): create a version tag after updating the major branch
  scripts/release.ts
Labels: scripts, typescript

ci(release): create a version tag after updating the major branch (#724)
  scripts/release.ts
Labels: scripts, typescript

chore(deps): add `sort-package-json` to lint-staged for `package.json`
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore(deps): add `sort-package-json` to lint-staged for `package.json` (#725)
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci(changesets): disable tags on private packages
  .changeset/config.json
  package.json
Labels: dependencies

ci(changesets): disable tags on private packages (#727)
  .changeset/config.json
  package.json
Labels: dependencies

chore: tweak scripts to lint the root package
  package.json
Labels: dependencies

chore: tweak scripts to lint the root package (#728)
  package.json
Labels: dependencies

ci(renovate): enable debug logging; remove bootstrap on post-upgrade
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): enable debug logging; remove bootstrap on post-upgrade (#729)
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: workflows

chore: add workaround for issues with jiti 2.4.2 and default imports
  .github/actions/update-metadata/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: add workaround for issues with jiti 2.4.2 and default imports (#731)
  .github/actions/update-metadata/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci(renovate): re-add bootstrap on post-upgrade
  .github/renovate.json5
Labels: none

ci(renovate): re-add bootstrap on post-upgrade (#735)
  .github/renovate.json5
Labels: none

ci(renovate): pin to digest
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): pin to digest (#736)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): remove 'v' prefix from digest
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): remove 'v' prefix from digest (#737)
  .github/workflows/renovate.yaml
Labels: workflows

chore: rename root package to `@bfra.me-github/organization`
  .changeset/config.json
  .changeset/fuzzy-impalas-wink.md
  package.json
Labels: dependencies, documentation

chore: rename root package to `@bfra.me-github/organization` (#739)
  .changeset/config.json
  .changeset/fuzzy-impalas-wink.md
  package.json
Labels: dependencies, documentation

chore(changeset): fix package name
  .changeset/fuzzy-impalas-wink.md
Labels: documentation

chore(changeset): fix package name (#740)
  .changeset/fuzzy-impalas-wink.md
Labels: documentation

chore: downgrade jiti to remove workaround
  .github/actions/update-metadata/package.json
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: override jiti version to get picked up by deps
  package.json
  pnpm-lock.yaml
Labels: dependencies

chore: downgrade jiti to remove workaround (#743)
  .github/actions/update-metadata/package.json
  .github/renovate.json5
  package.json
  pnpm-lock.yaml
Labels: dependencies

ci(renovate): replace hyphens with dashes in workflow inputs
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): replace hyphens with dashes in workflow inputs (#746)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): combine trigger steps with renovate step
  .github/workflows/renovate.yaml
Labels: workflows

chore: remove 'Trigger Repository Updates' status check
  .github/settings.yml
Labels: github-settings

ci(renovate): combine trigger steps with renovate step (#747)
  .github/settings.yml
  .github/workflows/renovate.yaml
Labels: workflows, github-settings

ci(renovate): merge prepare step into renovate step
  .github/settings.yml
  .github/workflows/renovate.yaml
Labels: workflows, github-settings

ci(renovate): merge prepare step into renovate step (#748)
  .github/settings.yml
  .github/workflows/renovate.yaml
Labels: workflows, github-settings

ci(renovate): re-add deprecated inputs
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): re-add deprecated inputs (#749)
  .github/workflows/renovate.yaml
Labels: workflows

chore: update renovate workflow template
  workflow-templates/renovate.yml
Labels: templates

chore: update renovate workflow template (#750)
  workflow-templates/renovate.yml
Labels: templates

ci(release): set `commitMode` to use GH API
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
Labels: workflows

ci(release): set `commitMode` to use GH API (#813)
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
Labels: workflows
