Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

ci(auto-release): fix broken command
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): fix broken command (#525)
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): add debug statements
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): add debug statements (#527)
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): run the changesets action
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): run the changesets action (#528)
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): run changesets action if the merge status is unknown
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): run changesets action if the merge status is unknown (#530)
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): fetch all commits for changesets action
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): fetch all commits for changesets action (#531)
  .github/workflows/auto-release.yaml
Labels: workflows

chore: add husky and lint-staged
  .github/renovate.json5
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
  .github/workflows/update-metadata.yaml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Labels: workflows, dependencies, documentation

chore: change `run` to `exec`
  .husky/pre-commit
Labels: none

chore: add husky and lint-staged (#532)
  .github/renovate.json5
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
  .github/workflows/update-metadata.yaml
  .husky/pre-commit
  README.md
  package.json
  pnpm-lock.yaml
Labels: workflows, dependencies, documentation

feat: add security workflows
  .changeset/chubby-hornets-tell.md
  .github/codeql/codeql-config.yml
  .github/gitleaks.toml
  .github/settings.yml
  .github/workflows/codeql-analysis.yaml
  .github/workflows/container-scan.yaml
  .github/workflows/license-compliance.yaml
  .github/workflows/secret-scan.yaml
Labels: workflows, documentation, github-settings, security

chore: update ESLint and TypeScript config and scripts
  .changeset/pink-ears-burn.md
  .cursorrules
  .github/workflows/main.yaml
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-metadata.ts
  tsconfig.json
Labels: workflows, dependencies, documentation, scripts, typescript

chore: update ESLint and TypeScript config and scripts (#534)
  .changeset/pink-ears-burn.md
  .cursorrules
  .github/workflows/main.yaml
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  scripts/generate-metadata.ts
  tsconfig.json
Labels: workflows, dependencies, documentation, scripts, typescript

feat: trigger repository dispatch for org repos with a renovate workflow
  .changeset/honest-papayas-cross.md
  .github/workflows/renovate.yaml
  workflow-templates/renovate.yml
Labels: workflows, documentation, templates

ci(renovate): update logic
  .github/workflows/renovate.yaml
Labels: workflows

chore: output repo list
  .github/workflows/renovate.yaml
Labels: workflows

chore: try join
  .github/workflows/renovate.yaml
Labels: workflows

chore: fix formatting
  .github/workflows/renovate.yaml
Labels: workflows

chore: filter on autodiscover
  .github/workflows/renovate.yaml
Labels: workflows

chore: remove debug print
  .github/workflows/renovate.yaml
Labels: workflows

feat: trigger repository dispatch for org repos with a renovate workflow (#535)
  .changeset/honest-papayas-cross.md
  .github/workflows/renovate.yaml
  workflow-templates/renovate.yml
Labels: workflows, documentation, templates

ci(renovate): simplify repo list extraction
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): simplify repo list extraction (#540)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): try `workflow_dispatch`
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): try `workflow_dispatch` (#541)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): set job permission
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): set job permission (#542)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): add `contents` permission
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): add `contents` permission (#543)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): remove `workflow_dispatch` input as it might not exist
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): remove `workflow_dispatch` input as it might not exist (#544)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): replace workflow run with a REST API call
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): replace workflow run with a REST API call (#545)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): add more permissions
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): add more permissions (#546)
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): restore `workflow` and increase app token scope
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): restore `workflow` and increase app token scope (#547)
  .github/workflows/renovate.yaml
Labels: workflows
