Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

chore: comment out GitGuardian and License Scan checks in settings (#900)
  .github/settings.yml
Labels: github-settings

feat: skip changeset creation if changeset files already exist
  .github/actions/renovate-changesets/src/index.ts
Labels: typescript

feat: skip changeset creation if changeset files already exist (#901)
  .github/actions/renovate-changesets/src/index.ts
Labels: typescript

ci(renovate-changeset): replace broken regex globbing with minimatch
  .changeset/every-birds-mate.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

ci(renovate-changeset): replace broken regex globbing with minimatch (#902)
  .changeset/every-birds-mate.md
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

chore: fix improper changeset
  .changeset/renovate-3883c86.md
Labels: documentation

chore: fix improper changeset (#903)
  .changeset/renovate-3883c86.md
Labels: documentation

ci(pr-triage): use GH app
  .github/workflows/pr-triage.yaml
Labels: workflows

ci(pr-triage): use GH app (#905)
  .github/workflows/pr-triage.yaml
Labels: workflows

ci(secret-scan): comment out GitGuardian scan step
  .github/workflows/secret-scan.yaml
Labels: workflows

chore(settings): require secret and license scanning jobs
  .github/settings.yml
Labels: github-settings

ci: disable GitGuardian step and restore required checks (#906)
  .github/settings.yml
  .github/workflows/secret-scan.yaml
Labels: workflows, github-settings

ci(renovate): switch back to `@scaleway/changesets-renovate`
  .github/workflows/renovate-changeset.yaml
Labels: workflows

ci(renovate): switch back to `@scaleway/changesets-renovate` (#918)
  .github/workflows/renovate-changeset.yaml
Labels: workflows

fix: remove or fix busted changesets; simplify workflow
  .changeset/renovate-3c0cc1e.md
  .changeset/renovate-4708fa3.md
  .changeset/renovate-4bca9b3.md
  .changeset/renovate-54264f8.md
  .changeset/renovate-61a852a.md
  .changeset/renovate-7f3c741.md
  .changeset/renovate-8b66e98.md
  .changeset/renovate-9a37b4d.md
  .changeset/renovate-c4fb75c.md
  .changeset/renovate-c55201d.md
  .changeset/renovate-fab0b20.md
  .github/workflows/renovate-changeset.yaml
Labels: workflows, documentation

fix: remove or fix busted changesets; simplify workflow (#919)
  .changeset/renovate-3c0cc1e.md
  .changeset/renovate-4708fa3.md
  .changeset/renovate-4bca9b3.md
  .changeset/renovate-54264f8.md
  .changeset/renovate-61a852a.md
  .changeset/renovate-7f3c741.md
  .changeset/renovate-8b66e98.md
  .changeset/renovate-9a37b4d.md
  .changeset/renovate-c4fb75c.md
  .changeset/renovate-c55201d.md
  .changeset/renovate-fab0b20.md
  .github/workflows/renovate-changeset.yaml
Labels: workflows, documentation

chore: add Copilot instructions and VS Code MCP config
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
Labels: documentation

chore: add Copilot instructions and VS Code MCP config (#932)
  .github/copilot-instructions.md
  .gitignore
  .vscode/mcp.json
Labels: documentation

docs: update instructions with architecture and workflow integrations
  .github/copilot-instructions.md
Labels: documentation

docs: update instructions with architecture and workflow integrations (#943)
  .github/copilot-instructions.md
Labels: documentation

ci(renovate): update to @bfra-me/renovate-config v4
  .github/renovate.json5
  eslint.config.ts
Labels: typescript

ci(renovate): update to @bfra-me/renovate-config v4 (#962)
  .github/renovate.json5
  eslint.config.ts
Labels: typescript

chore: remove outdated Cursor rules
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/change-validation.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/content-context.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/knowledge-graph.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  .cursor/rules/memory-templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule-migration.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  .cursor/rules/typescript.mdc
Labels: none

chore: remove outdated Cursor rules (#980)
  .cursor/rules/architecture-understanding.mdc
  .cursor/rules/change-validation.mdc
  .cursor/rules/changesets.mdc
  .cursor/rules/coding-best-practices.mdc
  .cursor/rules/content-context.mdc
  .cursor/rules/cursor-rules.mdc
  .cursor/rules/development-workflow.mdc
  .cursor/rules/documentation-and-tech-stack.mdc
  .cursor/rules/error-management.mdc
  .cursor/rules/github-actions.mdc
  .cursor/rules/implement.mdc
  .cursor/rules/knowledge-graph.mdc
  .cursor/rules/lessons-learned.mdc
  .cursor/rules/mcp-tool-usage.mdc
  .cursor/rules/memory-files.mdc
  .cursor/rules/memory-templates.mdc
  .cursor/rules/plan.mdc
  .cursor/rules/pnpm.mdc
  .cursor/rules/renovate.mdc
  .cursor/rules/rule-migration.mdc
  .cursor/rules/rule-preprocessing.mdc
  .cursor/rules/rules.mdc
  .cursor/rules/self-improve.mdc
  .cursor/rules/typescript.mdc
Labels: none

docs: update copilot instructions and add llms documentation
  .github/copilot-instructions.md
  .markdownlint-cli2.yaml
  .vscode/settings.json
  llms.txt
Labels: documentation

docs: update copilot instructions and add llms documentation (#981)
  .github/copilot-instructions.md
  .markdownlint-cli2.yaml
  .vscode/settings.json
  llms.txt
Labels: documentation

feat: add AI implementation plans
  .ai/plan/feature-workflow-validation-system-1.md
  .ai/plan/infrastructure-org-health-monitoring-1.md
  .gitignore
Labels: documentation

feat: add AI implementation plans (#983)
  .ai/plan/feature-workflow-validation-system-1.md
  .ai/plan/infrastructure-org-health-monitoring-1.md
  .gitignore
Labels: documentation

ci(renovate): add elstudio/actions-settings package rule
  .github/renovate.json5
Labels: none

ci(renovate): add elstudio/actions-settings package rule (#1009)
  .github/renovate.json5
Labels: none

chore(deps): add "unrs-resolver" to onlyBuiltDependencies
  package.json
Labels: dependencies

chore(deps): add "unrs-resolver" to onlyBuiltDependencies (#1010)
  package.json
Labels: dependencies

chore(deps): update dependencies for eslint and prettier
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, typescript

chore: update eslint config imports to include type definition
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/update-metadata/eslint.config.ts
Labels: typescript

chore(deps): update dependencies for eslint and prettier (#1011)
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/update-metadata/eslint.config.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, typescript

chore: remove default pull request template
  .changeset/eight-bugs-doubt.md
  .github/PULL_REQUEST_TEMPLATE/default.md
Labels: documentation, templates

chore: remove default pull request template (#1034)
  .changeset/eight-bugs-doubt.md
  .github/PULL_REQUEST_TEMPLATE/default.md
Labels: documentation, templates

chore: update package rule for elstudio/actions-settings
  .github/renovate.json5
Labels: none

chore: update package rule for elstudio/actions-settings (#1035)
  .github/renovate.json5
Labels: none

chore: migrate npm configuration to pnpm workspace
  .npmrc
  pnpm-workspace.yaml
Labels: dependencies

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts
