Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

refactor: streamline changeset summary generation by removing unnecessary parameters
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/breaking-change-detector.ts
  .github/actions/renovate-changesets/src/changeset-deduplicator.ts
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/github-actions-change-detector.ts
  .github/actions/renovate-changesets/src/jvm-change-detector.ts
  .github/actions/renovate-changesets/src/multi-package-analyzer.ts
  .github/actions/renovate-changesets/src/multi-package-changeset-generator.ts
  .github/actions/renovate-changesets/src/python-change-detector.ts
  .github/actions/renovate-changesets/src/security-vulnerability-detector.ts
  .github/actions/renovate-changesets/test/change-categorization-engine.test.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
  .github/actions/renovate-changesets/test/docker-change-detector.test.ts
  .github/actions/renovate-changesets/tsup.config.ts
Labels: documentation, typescript

refactor: streamline changeset summary generation by removing unnecessary parameters (#1128)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/src/breaking-change-detector.ts
  .github/actions/renovate-changesets/src/changeset-deduplicator.ts
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/github-actions-change-detector.ts
  .github/actions/renovate-changesets/src/jvm-change-detector.ts
  .github/actions/renovate-changesets/src/multi-package-analyzer.ts
  .github/actions/renovate-changesets/src/multi-package-changeset-generator.ts
  .github/actions/renovate-changesets/src/python-change-detector.ts
  .github/actions/renovate-changesets/src/security-vulnerability-detector.ts
  .github/actions/renovate-changesets/test/change-categorization-engine.test.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
  .github/actions/renovate-changesets/test/docker-change-detector.test.ts
  .github/actions/renovate-changesets/tsup.config.ts
Labels: documentation, typescript

feat: Implement configuration provider with custom template support
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/changeset-template-engine.ts
  .github/actions/renovate-changesets/src/enhanced-config-provider.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
Labels: typescript

feat: Implement configuration provider with custom template support (#1129)
  .github/actions/renovate-changesets/src/changeset-summary-generator.ts
  .github/actions/renovate-changesets/src/changeset-template-engine.ts
  .github/actions/renovate-changesets/src/enhanced-config-provider.ts
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/changeset-summary-generator.test.ts
Labels: typescript

chore: update dependencies and rename Renovate workflow template
  .github/copilot-instructions.md
  workflow-templates/renovate.yaml
Labels: documentation, templates

chore: update dependencies and rename Renovate workflow template (#1130)
  .github/copilot-instructions.md
  workflow-templates/renovate.yaml
Labels: documentation, templates

docs(ai): add implementation plan for monorepo build pipeline optimization
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
Labels: documentation

docs(ai): add implementation plan for monorepo build pipeline optimization (#1131)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
Labels: documentation

chore: update monorepo build status and complete initial tasks
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  pnpm-lock.yaml
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

chore: update monorepo build status and complete initial tasks (#1137)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  pnpm-lock.yaml
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

feat: enhance workspace validation with dependency graph analysis
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

feat: enhance workspace validation with dependency graph analysis (#1138)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

feat: add build performance monitoring and analysis script
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .gitignore
  package.json
  scripts/build-performance.ts
Labels: dependencies, documentation, scripts, typescript

feat: add build performance monitoring and analysis script (#1139)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .gitignore
  package.json
  scripts/build-performance.ts
Labels: dependencies, documentation, scripts, typescript

feat: standardize package scripts across workspace
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/update-metadata/package.json
  package.json
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

feat: standardize package scripts across workspace (#1140)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/update-metadata/package.json
  package.json
  scripts/workspace-validate.ts
Labels: dependencies, documentation, scripts, typescript

docs(ai): enhance documentation with advanced monorepo workflows
  .github/copilot-instructions.md
  llms.txt
Labels: documentation

docs(ai): enhance documentation with advanced monorepo workflows (#1141)
  .github/copilot-instructions.md
  llms.txt
Labels: documentation

feat: add TypeScript project references audit script
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  scripts/audit-typescript-references.ts
Labels: dependencies, documentation, scripts, typescript

feat: add TypeScript project references audit script (#1142)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  scripts/audit-typescript-references.ts
Labels: dependencies, documentation, scripts, typescript

feat: enhance TypeScript build configurations and scripts
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/tsconfig.build.json
  .github/actions/update-metadata/tsconfig.build.json
  .gitignore
  package.json
  tsconfig.build.json
Labels: dependencies, documentation

feat: enhance TypeScript build configurations and scripts (#1143)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/tsconfig.build.json
  .github/actions/update-metadata/tsconfig.build.json
  .gitignore
  package.json
  tsconfig.build.json
Labels: dependencies, documentation

feat: optimize TypeScript project references and build configurations
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/src/changeset-template-engine.ts
  .github/actions/renovate-changesets/src/enhanced-config-provider.ts
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: dependencies, documentation, typescript

feat: optimize TypeScript project references and build configurations (#1144)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/src/changeset-template-engine.ts
  .github/actions/renovate-changesets/src/enhanced-config-provider.ts
  package.json
  tsconfig.build.json
  tsconfig.json
Labels: dependencies, documentation, typescript

feat: enhance TypeScript build performance and cache management
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/tsconfig.build.json
  .github/actions/update-metadata/tsconfig.build.json
  .gitignore
  package.json
  scripts/build-cache-manager.ts
  scripts/incremental-build-analyzer.ts
  tsconfig.build.json
Labels: dependencies, documentation, scripts, typescript

feat: enhance TypeScript build performance and cache management (#1145)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  .github/actions/renovate-changesets/tsconfig.build.json
  .github/actions/update-metadata/tsconfig.build.json
  .gitignore
  package.json
  scripts/build-cache-manager.ts
  scripts/incremental-build-analyzer.ts
  tsconfig.build.json
Labels: dependencies, documentation, scripts, typescript

feat: add TypeScript type-only imports/exports validation script
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  pnpm-lock.yaml
  scripts/validate-type-only-imports.ts
Labels: dependencies, documentation, scripts, typescript

feat: add TypeScript type-only imports/exports validation script (#1146)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
  pnpm-lock.yaml
  scripts/validate-type-only-imports.ts
Labels: dependencies, documentation, scripts, typescript

feat: update build pipeline status and add validation scripts
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
Labels: dependencies, documentation

feat: update build pipeline status and add validation scripts (#1147)
  .ai/plan/infrastructure-monorepo-build-optimization-1.md
  package.json
Labels: dependencies, documentation

feat: enhance git operations for committing changeset files
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: enhance git operations for committing changeset files (#1148)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: implement automatic commit and push for Renovate branches
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: implement automatic commit and push for Renovate branches (#1149)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: enhance PR management with description and comment updates
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: enhance PR management with description and comment updates (#1150)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat: enhance merge conflict handling in renovate-changesets action
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: enhance merge conflict handling in renovate-changesets action (#1151)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/git-operations.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: add support for grouped PR updates in Renovate action
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/grouped-pr-manager.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

feat: add support for grouped PR updates in Renovate action (#1152)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/grouped-pr-manager.ts
  .github/actions/renovate-changesets/src/index.ts
Labels: documentation, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts
