Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

chore: migrate npm configuration to pnpm workspace (#1038)
  .npmrc
  pnpm-workspace.yaml
Labels: dependencies

ci(renovate): disable Mise updates
  .github/renovate.json5
Labels: none

chore: update .gitattributes and .markdownlint-cli2.yaml
  .gitattributes
  .markdownlint-cli2.yaml
Labels: none

chore: update .gitattributes and .markdownlint-cli2.yaml (#1040)
  .gitattributes
  .markdownlint-cli2.yaml
Labels: none

ci(auto-release): update schedule to run on Sundays and Wednesdays
  .github/workflows/auto-release.yaml
Labels: workflows

ci(auto-release): update schedule to run on Sundays and Wednesdays (#1041)
  .github/workflows/auto-release.yaml
Labels: workflows

ci(renovate): disable Mise updates (#1039)
  .github/renovate.json5
Labels: none

chore: update squash merge commit message setting
  common-settings.yaml
Labels: github-settings

chore: update squash merge commit message setting (#1042)
  common-settings.yaml
Labels: github-settings

chore(settings): update squash merge commit title and message defaults
  common-settings.yaml
Labels: github-settings

chore(settings): update squash merge commit title and message defaults (#1049)
  common-settings.yaml
Labels: github-settings

ci(renovate): simplify `branches` input to only check for dry runs
  .github/workflows/renovate.yaml
Labels: workflows

ci(renovate): simplify `branches` input to only check for dry runs (#1050)
  .github/workflows/renovate.yaml
Labels: workflows

feat: add workflow to trigger Renovate for the organization
  .changeset/cruel-laws-cover.md
  .github/workflows/trigger-org-renovate.yaml
Labels: workflows, documentation

feat: add workflow to trigger Renovate for the organization (#1055)
  .changeset/cruel-laws-cover.md
  .github/workflows/trigger-org-renovate.yaml
Labels: workflows, documentation

ci(renovate): add `corepack enable` to `postUpgradeTasks`
  .github/renovate.json5
Labels: none

ci(renovate): add `corepack enable` to `postUpgradeTasks` (#1057)
  .github/renovate.json5
Labels: none

ci(renovate): replace 'corepack enable' with pnpm install
  .github/renovate.json5
Labels: none

ci(renovate): replace 'corepack enable' with pnpm install (#1058)
  .github/renovate.json5
Labels: none

ci(renovate): remove explicit pnpm install
  .github/renovate.json5
Labels: none

ci(renovate): remove explicit pnpm install (#1062)
  .github/renovate.json5
Labels: none

ci(license-compliance): disable FOSSA test step due to timeouts
  .github/workflows/license-compliance.yaml
Labels: workflows

ci(license-compliance): disable FOSSA test step due to timeouts (#1073)
  .github/workflows/license-compliance.yaml
Labels: workflows

chore: slim deps and cleanup monorepo config
  .changeset/renovate-b289513.md
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/renovate-changesets/package.json
  .github/actions/update-metadata/eslint.config.ts
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/vitest.config.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
  vitest.config.ts
Labels: dependencies, documentation, typescript

chore: slim deps and cleanup monorepo config (#1079)
  .changeset/renovate-b289513.md
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/renovate-changesets/package.json
  .github/actions/update-metadata/eslint.config.ts
  .github/actions/update-metadata/package.json
  .github/actions/update-metadata/vitest.config.ts
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.eslint.json
  tsconfig.json
  vitest.config.ts
Labels: dependencies, documentation, typescript

chore: refactor documentation and task management structure
  .github/copilot-instructions.md
  .vscode/mcp.json
  .vscode/settings.json
  CONTRIBUTING.md
  docs/adr/0001-preference-monitoring-system.md
  docs/adr/0002-repository-metrics-and-trigger-system.md
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  llms.txt
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
  tasks/tasks_plan.md
Labels: documentation

chore: refactor documentation and task management structure (#1080)
  .github/copilot-instructions.md
  .vscode/mcp.json
  .vscode/settings.json
  CONTRIBUTING.md
  docs/adr/0001-preference-monitoring-system.md
  docs/adr/0002-repository-metrics-and-trigger-system.md
  docs/architecture.md
  docs/product_requirement_docs.md
  docs/technical.md
  llms.txt
  tasks/active_context.md
  tasks/cursor-rules-enhancement.md
  tasks/preference-monitoring-implementation.md
  tasks/repository-metrics-implementation.md
  tasks/tasks_plan.md
Labels: documentation

chore: add implementation plan prompts and update AI documentation
  .ai/notes/implementation-plan-prompts.md
  .github/copilot-instructions.md
  .gitignore
  llms.txt
Labels: documentation

chore: add implementation plan prompts and update AI documentation (#1082)
  .ai/notes/implementation-plan-prompts.md
  .github/copilot-instructions.md
  .gitignore
  llms.txt
Labels: documentation

feat: add implementation plan for enhanced renovate-changesets action
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
Labels: documentation

feat: add implementation plan for enhanced renovate-changesets action (#1083)
  .ai/plan/feature-enhanced-renovate-changesets-action-1.md
Labels: documentation

chore: update GitHub App token secrets in copilot instructions
  .github/copilot-instructions.md
Labels: documentation

chore: update GitHub App token secrets in copilot instructions (#1084)
  .github/copilot-instructions.md
Labels: documentation

chore: add implementation plan for Astro Starlight documentation
  .ai/plan/feature-astro-starlight-docs-platform-1.md
Labels: documentation

chore: add implementation plan for Astro Starlight documentation (#1085)
  .ai/plan/feature-astro-starlight-docs-platform-1.md
Labels: documentation

feat: add implementation plan for comprehensive release testing suite
  .ai/plan/feature-release-testing-infrastructure-1.md
Labels: documentation

feat: add implementation plan for comprehensive release testing suite (#1086)
  .ai/plan/feature-release-testing-infrastructure-1.md
Labels: documentation

docs: add intelligent runtime workflow generation plan
  .ai/plan/feature-intelligent-workflow-generation-1.md
Labels: documentation

docs: add intelligent runtime workflow generation plan (#1087)
  .ai/plan/feature-intelligent-workflow-generation-1.md
Labels: documentation

docs: add architecture plan for cross-platform CI/CD workflow translation
  .ai/plan/architecture-cross-platform-bridge-1.md
Labels: documentation
