Repository bfra-me/.github, changes with the labels that .github/labeler.yaml gives for each.
All labels: workflows, dependencies, documentation, github-settings, templates, scripts, security, typescript

.github/labeler.yaml:

workflows:
  - changed-files:
      - any-glob-to-any-file: '.github/workflows/**/*'

dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - package.json
          - pnpm-lock.yaml
          - .npmrc

documentation:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.md'
          - '**/*.mdx'
          - '**/docs/**/*'

github-settings:
  - changed-files:
      - any-glob-to-any-file:
          - .github/settings.yml
          - common-settings.yaml

templates:
  - changed-files:
      - any-glob-to-any-file:
          - 'workflow-templates/**/*'
          - '.github/PULL_REQUEST_TEMPLATE/**/*'
          - '.github/ISSUE_TEMPLATE/**/*'

scripts:
  - changed-files:
      - any-glob-to-any-file: 'scripts/**/*'

security:
  - changed-files:
      - any-glob-to-any-file:
          - SECURITY.md
          - .github/workflows/codeql-analysis.yaml
          - .github/workflows/dependency-review.yaml
          - .github/workflows/scorecard.yaml

typescript:
  - changed-files:
      - any-glob-to-any-file:
          - '**/*.ts'
          - '**/*.tsx'
          - tsconfig.json
          - eslint.config.ts

ci(release): remove `commitMode`
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
Labels: workflows

ci(release): remove `commitMode` (#814)
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
Labels: workflows

chore: revert root package rename and update release script
  .changeset/loud-boats-call.md
  .changeset/renovate-148bbe9.md
  .changeset/renovate-42920f8.md
  .changeset/renovate-569e79e.md
  .changeset/renovate-62052e1.md
  .changeset/renovate-b1d911a.md
  .changeset/renovate-b757ebc.md
  .changeset/renovate-edbf2bf.md
  .changeset/renovate-f021991.md
  .changeset/renovate-f986873.md
  .changeset/weak-paws-double.md
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  scripts/release.ts
Labels: workflows, dependencies, documentation, scripts, typescript

chore: remove unnecessary hex conversion
  scripts/release.ts
Labels: scripts, typescript

chore: fix review issues
  scripts/release.ts
Labels: scripts, typescript

chore: rename root package in changeset
  .changeset/renovate-d42d35e.md
Labels: documentation

chore: revert root package rename and update release script (#816)
  .changeset/loud-boats-call.md
  .changeset/renovate-148bbe9.md
  .changeset/renovate-42920f8.md
  .changeset/renovate-569e79e.md
  .changeset/renovate-62052e1.md
  .changeset/renovate-b1d911a.md
  .changeset/renovate-b757ebc.md
  .changeset/renovate-d42d35e.md
  .changeset/renovate-edbf2bf.md
  .changeset/renovate-f021991.md
  .changeset/renovate-f986873.md
  .changeset/weak-paws-double.md
  .github/workflows/auto-release.yaml
  .github/workflows/main.yaml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  scripts/release.ts
Labels: workflows, dependencies, documentation, scripts, typescript

Remove `--fail-on-no-commits` (breaks on >1 release).
  .changeset/sad-beers-lay.md
  .changeset/yummy-ends-crash.md
  scripts/release.ts
Labels: documentation, scripts, typescript

Remove `--fail-on-no-commits` (breaks on >1 release). (#818)
  .changeset/sad-beers-lay.md
  .changeset/yummy-ends-crash.md
  scripts/release.ts
Labels: documentation, scripts, typescript

chore: add GitHub Copilot instruction files
  .github/copilot-instructions.md
  .github/instructions/changesets.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/pnpm.instructions.md
  .github/instructions/renovate.instructions.md
  .github/instructions/typescript.instructions.md
Labels: documentation

chore: consolidate bullet points
  .github/instructions/renovate.instructions.md
Labels: documentation

chore: add GitHub Copilot instruction files (#840)
  .github/copilot-instructions.md
  .github/instructions/changesets.instructions.md
  .github/instructions/github-actions.instructions.md
  .github/instructions/pnpm.instructions.md
  .github/instructions/renovate.instructions.md
  .github/instructions/typescript.instructions.md
Labels: documentation

ci(renovate)!: remove deprecated `workflow_call` inputs
  .changeset/good-jokes-grin.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

ci(renovate)!: remove deprecated `workflow_call` inputs (#841)
  .changeset/good-jokes-grin.md
  .github/workflows/renovate.yaml
Labels: workflows, documentation

ci(renovate)!: update to @bfra-me/renovate-action v7
  .changeset/all-colts-kiss.md
Labels: documentation

ci(renovate)!: update to @bfra-me/renovate-action v7 (#842)
  .changeset/all-colts-kiss.md
Labels: documentation

chore: rename `mise.toml` => `.mise.toml`
  .github/renovate.json5
  .github/workflows/renovate-changeset.yaml
  .mise.toml
Labels: workflows

chore: rename `mise.toml` => `.mise.toml` (#865)
  .github/renovate.json5
  .github/workflows/renovate-changeset.yaml
  .mise.toml
Labels: workflows

feat: create an action to add changesets based on Renovate updates
  .changeset/strong-emus-warn.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/tsconfig.json
  .github/actions/renovate-changesets/tsup.config.ts
  .github/actions/renovate-changesets/vitest.config.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

feat: create an action to add changesets based on Renovate updates (#866)
  .changeset/strong-emus-warn.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/eslint.config.ts
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/actions/renovate-changesets/tsconfig.json
  .github/actions/renovate-changesets/tsup.config.ts
  .github/actions/renovate-changesets/vitest.config.ts
  package.json
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

ci(renovate): add compatible @scaleway/changesets-renovate inputs
  .changeset/major-ads-drum.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

ci(renovate): use full Node and PNPM setup
  .github/workflows/renovate-changeset.yaml
Labels: workflows

feat: add dry-run mode to Renovate Changesets action
  .changeset/eight-dodos-fry.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

chore(update-repo-settings): pin template to major version
  workflow-templates/update-repo-settings.yaml
Labels: templates

chore(update-repo-settings): pin template to major version (#887)
  workflow-templates/update-repo-settings.yaml
Labels: templates

feat: add comment-pr input to post changeset details on PR
  .changeset/breezy-buttons-find.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

feat(renovate-changesets): add @scaleway/changesets-renovate compatibility (#888)
  .changeset/breezy-buttons-find.md
  .changeset/eight-dodos-fry.md
  .changeset/major-ads-drum.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  .github/workflows/renovate-changeset.yaml
Labels: workflows, documentation, typescript

ci(renovate-changeset): use internal action
  .github/workflows/renovate-changeset.yaml
Labels: workflows

ci(renovate-changeset): use internal action (#892)
  .github/workflows/renovate-changeset.yaml
Labels: workflows

ci(renovate-changeset): fix issues with changeset creation
  .changeset/eighty-rockets-unite.md
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

chore: remove duplicate log
  .github/actions/renovate-changesets/src/index.ts
Labels: typescript

chore: limit catch clause to EEXIST for mkdir errors
  .github/actions/renovate-changesets/src/index.ts
Labels: typescript

fix: copilot on PRs is trash
  .github/actions/renovate-changesets/src/index.ts
Labels: typescript

chore: remove `dry-run` input and default `comment-pr` to false
  .changeset/eight-dodos-fry.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/dist/index.js
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
Labels: documentation, typescript

ci(renovate-changeset): fix issues with changeset creation (#894)
  .changeset/eight-dodos-fry.md
  .changeset/eighty-rockets-unite.md
  .github/actions/renovate-changesets/README.md
  .github/actions/renovate-changesets/action.yaml
  .github/actions/renovate-changesets/package.json
  .github/actions/renovate-changesets/src/index.ts
  .github/actions/renovate-changesets/test/index.test.ts
  pnpm-lock.yaml
Labels: dependencies, documentation, typescript

chore: remove nonsense from Copilot instructions for actions and TS
  .github/instructions/github-actions.instructions.md
  .github/instructions/typescript.instructions.md
Labels: documentation

chore: remove nonsense from Copilot instructions for actions and TS (#895)
  .github/instructions/github-actions.instructions.md
  .github/instructions/typescript.instructions.md
Labels: documentation

ci(renovate): disable PR comment for Renovate changeset generation
  .github/workflows/renovate-changeset.yaml
Labels: workflows

chore: comment out GitGuardian and License Scan checks in settings
  .github/settings.yml
Labels: github-settings

ci(renovate): disable PR comment for Renovate changeset generation (#899)
  .github/workflows/renovate-changeset.yaml
Labels: workflows
